@charset "UTF-8";

.error-body {
    background-color: #6A0DAD;
    color: white;
    min-height: 100vh;
}

.error-box {
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #FFD700;
    max-width: 500px;

    margin: 80px auto;
}

.error-title {
    font-size: 80px;
    font-weight: bold;
    color: #FFD700;
    margin-bottom: 20px;
}

.error-message {
    font-size: 20px;
    margin-bottom: 30px;
}

.error-btn {
    background: #FFD700;
    color: #6A0DAD;
    padding: 12px 25px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.error-btn:hover {
    background: #D32F2F;
    color: white;
}

@media (max-width: 768px) {
    .error-title {
        font-size: 60px;
    }

    .error-message {
        font-size: 18px;
    }

    .error-box {
        padding: 30px;
    }
}